.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  min-width: 30rem;
  line-height: 2rem;
}

.divider {
  padding: 0 1rem;
}

.main {
  display: flex;
  margin: 1rem;
}

.rewards-container {
  display: flex;
  border-right: 1px solid black;
  flex-direction: column;
  align-items: center;
}

.categories-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.reward {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 1rem;
  min-height: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  margin: 0 1rem;
}

.columns {
  display: flex;
  height: 100%;
}

.columns .lane:last-child {
  border-right: none;
}

.placeholder {
  height: 4.2rem;
}

.lane {
  margin-top: 1rem;
  border-right: 1px solid black;
}

.dropzone {
  padding: 0;
}

.dropzone.drop-hover {
  background-color: aqua;
}

.indicators {
  display: flex;
  flex-direction: column;
}

.indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  min-height: 1rem;
  border: 1px solid black;
  opacity: 0;
}

.indicator.belong-to {
  opacity: 1;
}

.indicator:hover .close {
  opacity: 0.3;
}

.indicator:hover .close:hover {
  opacity: 1;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  opacity: 0;
}

.close:before,
.close:after {
  position: absolute;
  left: 8px;
  content: " ";
  height: 0.9rem;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
